<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет Posts -->
{% block title %}
Все публикации
{% endblock title %}

<!-- В контенте на странице мы выводим все публикации -->
{% block content %}
    <h1>Публикации категории "{{category}}"</h1>
    {% if is_not_subscriber %}
        Вы ешё не подписаны на эту категорию
        <p class="text-center">
            <a href="{% url 'subscribe' category.id %}" class="btn btn-dark btn-sm">Подписаться</a>
        </p>
    {% else %}
        Вы подписаны на эту категорию
        <p class="text-center">
            <a href="{% url 'unsubscribe' category.id %}" class="btn btn-outline-dark btn-sm">Отписаться</a>
        </p>
    {% endif %}
    <h2>{% current_time '%d.%m.%Y' %}</h2>
    <hr>

    {% if category_posts %}
        <table>
            {% for post in category_posts %}
            <tr>
                <td><b>{{ post.header|censor }}</b> {{ post.public_date|date:'d.m.Y' }}</td>
            </tr>
            <tr>
                <td>{{ post.content|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
       <h2>Публикаций нет!</h2>
   {% endif %}


    {% if page_obj.has_previous %}
        {# Для каждой ссылки пагинации указываем обработку через новый тег #}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}